html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
  color: $base-text-color;
  background: $base-background-color;
  font: #{$font-size-base}/#{$line-height-base} $base-font;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  &.full-width {
    width: 100%;
    margin: 1em 0;
  }
  &.align-right {
    float: right;
    margin: 0.5em 0 0.5em 1em;
  }
  &.align-left {
    float: left;
    margin: 0.5em 1em 0.5em 0;
  }
}

// google map fix
.gm-style img {max-width: none}
